.header{
    text-align: center;
}

img {
    height: 200px;
    border-radius:50%;
}

.information {
    text-align: center;
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

