.header {
    text-align: center;
}

.profile {
    height: 200px;
    border-radius: 50%;
}

.information {
    text-align: center;
}

#placeholder1 {
    border-radius: 50%;
    float: left;
    width: 33%;
    margin-top: 50px;
}

#placeholder2 {
    border-radius: 50%;
    float: left;
    width: 33%;
    margin-top: 50px;
}

#placeholder3 {
    border-radius: 50%;
    float: left;
    width: 33%;
    margin-top: 50px;
}


p2 {
    text-align: center;
    float: left;
    width: 33%;
    margin-top: 10px;
}

p3 {
    text-align: center;
    float: left;
    width: 33%;
    margin-top: 10px;
}

p4 {
    text-align: center;
    float: left;
    width: 33%;
    margin-top: 10px;
}
