.profile {
    text-align: center;
}

#icon {
    height: 200px;
    border-radius: 50%;
    text-align: center;
}


.information {
    text-align: center;
}

#image{
    width: 30%;
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

#title {
    text-align: center;
}

#paragraph {
    text-align: center;
}

.link{
    width: 15%;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 35%;
}


